/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline
}
/* Left & Right alignment */
.left {
	float:left
}
.right {
	float:right
}
.wrapper {
	width:100%;
	overflow:hidden
}
.title {
	font-size:180%;
	font-style:oblique;
	left: 50%
}
.relative {
	position:relative
}
/* Global properties */
body {
	background:#333;
	border:0;
	font:13px Arial, Helvetica, sans-serif;
	color:#0f0f0f;
	line-height:20px
}
.ic, .ic a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	position:relative
}
/* Global Structure */
.main {
	margin:0 auto;
	width:916px;
}
.body1 {
	background:url(../images/bg_img2.jpg) center 560px no-repeat #eaeaea
	-moz-box-shadow:10px 10px 5px #000000;
	-webkit-box-shadow:10px 10px 5px #000000;
	box-shadow:10px 10px 5px #000000;
}
.body2 {
	background:url(../images/bg_top_repeat.jpg) top repeat-x
}
.body3 {
	background:url(../images/bg_top_img.jpg) top center no-repeat
}
.body4 {
	background:url(../images/bg_content.gif) top repeat-x #363636
}
/* main layout */
a {
	color:#13c5ff;
	text-decoration:underline;
	outline:none
}
a:hover {
	text-decoration:none
}
h1 {
	padding:37px 0 0 19px;
	float:left
}
h2 {
	font-size:40px;
	line-height:1.2em;
	color:#0f0f0f;
	padding:1px 0 17px 10px;
	letter-spacing:-1px
}
h2 span {
	color:#13c5ff
}
p {
	padding-bottom:20px
}
/* header */
header {
	height:645px
}
.logo {
	width:120px;
	height:auto;
	margin-left: -150px;
	margin-bottom: -70px;
}

.roundabout-holder {
	height:5em;
}
.roundabout-moveable-item {
	cursor:pointer;
	width:640px;
	height:424px;
	margin-top:196px;
	padding-bottom:20px;
}
.roundabout-in-focus {
	cursor:auto;
}
#gallery {
	position:relative;
	height:520px
}
#gallery img {
	display:block;
	width:100%;
	height:100%
}
#gallery li {
}

.gallery {
	margin-top:-10px;
	padding-left:8px;
	width:100%;
	overflow:hidden
}
.gallery li {
	float:left;
	padding-right:10px;
	padding-top:10px
}
.gallery .end {
	padding-right:0
}
/* footer */
footer {
	padding-top:43px;
	font-size:12px;
	color:#6b6b6b;
	text-align:center;
	min-height:45px;
	padding-bottom:40px
}
footer a {
}
footer a:hover {
}
#icons {
	float:right;
	padding:7px 14px 0 0
}
#icons li {
	padding-left:11px;
	float:left
}
footer .left {
	width:598px
}
/* Tooltips */
.aToolTip {
	border:1px solid #000;
	background:url(../images/bg_opacity.png) repeat;
	color:#fff;
	margin:0;
	padding:2px 10px;
	font-size:11px
}
.aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
}
a.aToolTipCloseBtn {
	display:block;
	height:20px;
	width:20px;
	overflow:hidden;
	background: no-repeat;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-15px;
	right:-20px;
}

.button1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:30px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:136px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
	margin-left: 200px;
}
.button1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.button1:active {
	position:relative;
	top:1px;
}
.button2
{
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:30px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:136px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
	margin-left: 40px;
}
.button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.button2:active {
	position:relative;
	top:1px;
}

.title {
	-moz-box-shadow:inset 0px -1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px -1px 0px 0px #f9eca0;
	box-shadow:inset 0px -1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	background-color:#f0c911;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #e65f44;
	display:inline-block;
	color:#c92200;
	font-family:Comic Sans MS;
	font-size:23px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:331px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
	margin-left: 330px;
	margin-top: 15px;
}
.title:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
	background-color:#f2ab1e;
}.title:active {
	position:relative;
	top:1px;
}








