<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Hi</title>
	<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../js/URI.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/angular.min.js"></script>

	<style>
		body {
			width: 300px;
			height: 400px;
		}
	</style>
</head>
<body>
	<div id="main" ng-controller="safeHistoryMain">
		Hello world
		<p id="warning"></p>
		<div id="data">
			<div ng-repeat="item in history">
				{{ item.url }}

				<div>
					{{ item.printableDate }}
				</div>
				<div style="background-color: yellow">
					<span ng-if="item.wotRating">WOT: {{ item.wotRating }}</span>
					<span ng-if="item.googleRating">Google: {{ item.googleRating }}</span>
					<span ng-if="item.heartBleed">HeartBLEED!</span>
					<div ng-if="item.idx !== null" id="analyze-table-{{ item.idx }}"></div>
				</div>
			</div>
			<div id="table"></div>
		</div>
		<button id="actionbtn" ng-click="action()">Hi</button>
	</div>
</body>
</html>