<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Hi</title>
	<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../js/URI.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/angular.min.js"></script>

	<style>
		body {
			width: 300px;
			height: 400px;
		}
	</style>
</head>
<body>
	<div id="main" ng-controller="safeHistoryMain">
		Hello world
		<p id="warning"></p>
		<div id="data">
			<div ng-repeat="item in history">
				{{ item.url }}

				<div style="background-color: yellow" ng-if="item.wotRating">
					{{ item.wotRating }}
				</div>
			</div>
		</div>
		<button id="actionbtn" ng-click="action()">Hi</button>
	</div>
</body>
</html>